In [ ]:
#Create an empty list (two ways)
#Concatenate with [5,6,7,8]
#add 8,9,1,5,6,7,8,1 elements to that list
#Find frequency of 8 (count)
#find the mean of the list
#find sum (List) + min + Max 
#Find median of the list
#remove duplicates from list and give output in the format of tuple

In [15]:
#Create an empty list (two ways)
a=list()
b=[]
#Concatenate with [5,6,7,8]
a.append(input("enter a value"))
#add 8,9,1,5,6,7,8,1 elements to that list
list1=[5,6,7,8]
list2=[8,9,1,5,6,7,8,1]
list1.extend(list2)
print(list1)
#Find frequency of 8 (count)
list3=list1.count(8)
print(list3)
#find the mean of the list
list4=sum(list1)/len(list1)
print(list4)
#find sum (List) + min + Max 
list5=sum(list1)+min(list1)+max(list1)
print(list5)
#Find median of the list-doubt
#list6=find_median=
#remove duplicates from list and give output in the format of tuple
list6=tuple(set(list1))
print(list6)

enter a value 5,6,7,8

[5, 6, 7, 8, 8, 9, 1, 5, 6, 7, 8, 1]
3
5.916666666666667
81
(1, 5, 6, 7, 8, 9)

In [ ]:
Li1 = [2,3,4,5,[45,56,67,78,[111,222,333,[5555,3333,[10000,50000,"python","computer"],1111,7777,8888],444,555,666,777],89,23,34]]


5
56
222
50000
put
5555
7777
666
89
on
333
3333

In [1]:
Li1 = [1,2,3,4,5,[11,22,33,44,55,[111,222,333,444],6666,7777],7777] 
print

11

In [111]:
#Task6: Tuple
#Create two tuples (1,4,5,6,7,8) (5,6,7,8,9)
#Find the common elements between two tuples
#Concatenate both tuples and remove duplicates from tuple
#Find the index value of 9 (after concatenation)
#multiply above elements 3 times

#Create two tuples (1,4,5,6,7,8) (5,6,7,8,9)
a=(1,4,5,6,7,8)
b=(5,6,7,8,9)
print(tuple(a))
print(tuple(b))
#Find the common elements between two tuples
tuple1=set(a).intersection(set(b))
print (tuple(tuple1))
#Concatenate both tuples and remove duplicates from tuple
tuple2=(a+b)
tuple3=(set(tuple2))
print(tuple3)
#Find the index value of 9 (after concatenation)
tuple4=tuple2.index(9)
print(tuple4)
#multiply above elements 3 times
tuple5=(tuple4)*3
print(tuple5)

(1, 4, 5, 6, 7, 8)
(5, 6, 7, 8, 9)
(8, 5, 6, 7)
{1, 4, 5, 6, 7, 8, 9}
10
30

In [ ]:
#Create two empty sets
#update set1 with 7,8,9,1,2,3,4,5,0
#update set2 with 4,5,6,0
#check whether set2 is subset of set1 or no ?
#check whether both have common elements are no?
#remove 8 from set 1 and set 2 ==> find the inferences
#discard 0 from set1 and set2 
#find collection of both sets ===> set1 and set2

In [9]:
#Create two empty sets
set1=set()
set2=set()
print(set1)
print(set2)
#update set1 with 7,8,9,1,2,3,4,5,0
set1.update({7,8,9,1,2,3,4,5,0})
set2.update({4,5,6,0})
print(set1)
print(set2)
#check whether set2 is subset of set1 or no ?
a=set2.issubset(set1)
print(a)
#check whether both have common elements are no?
#remove 8 from set 1 and set 2 ==> find the inferences
set1.remove(8)
print(set1)
#discard 0 from set1 and set2 
set1.discard(0)
set2.discard(0)
print(set1)
print(set2)
#find collection of both sets ===> set1 and set2=doubt
b=set1.union(set2)
print(b)

set()
set()
{0, 1, 2, 3, 4, 5, 7, 8, 9}
{0, 4, 5, 6}
False
{0, 1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 9}

In [115]:
#create a dictionary
#{1:["english","maths","science"], 2:[10,20,30], 3:["bio-botany","bio-zoology","Algebra"]}
#Extract "bobtn" from above dictionary
#Extract "arbeg" from above dictionary
#print all keys in dictionary and convert it into tuple
#Find the average of all numbers available under key "2"

dict1=4 {
    1:["english","maths","science"],
    2:[10,20,30],
    3:["bio-botany","bio-zoology","Algebra"]
}
#Extract "bobtn" from above dictionary

IndexError: list index out of range

In [33]:
#a = [1,2,3,4,[100,101,102,"Computer_science"],200,203]
#Extract
#science
#computer
a = [1,2,3,4,[100,101,102,"Computer_science"],200,203]
print(a[4][3][9:])
print(a[4][3][0:8])

science
Computer