In [7]:
a=str(input("enter a value"))
b=int(a)
print(type(b))

enter a value bhavani

ValueError: invalid literal for int() with base 10: 'bhavani'

In [9]:
a=str(input("enter a value"))
b=bool(a)
print(type(b))

enter a value bhavani

<class 'bool'>

In [11]:
a=str(input("enter a value"))
b=float(a)
print(type(b))

enter a value bhavani

ValueError: could not convert string to float: 'bhavani'

In [13]:
a=bool(input("enter a value"))
b=int(a)
print(type(b))

enter a value True

<class 'int'>

In [15]:
a=bool(input("enter a value"))
b=str(a)
print(type(b))

enter a value True

<class 'str'>

In [17]:
a=bool(input("enter a value"))
b=bool(a)
print(type(b))

enter a value False

<class 'bool'>

In [19]:
a=bool(input("enter a value"))
b=float(a)
print(type(b))

enter a value false

<class 'float'>

In [21]:
a=float(input("enter a value"))
b=int(a)
print(type(b))

enter a value 1.5

<class 'int'>

In [23]:
a=float(input("enter a value"))
b=str(a)
print(type(b))

enter a value 6.7

<class 'str'>

In [25]:
a=float(input("enter a value"))
b=bool(a)
print(type(b))

enter a value 9.8

<class 'bool'>

In [27]:
a=float(input("enter a value"))
b=float(a)
print(type(b))

enter a value 6.8

<class 'float'>

In [ ]:
#

r=float(input("enter a radius"))
h=float(input("enter a height"))
print((r))

In [29]:
a=int(input("enter a value"))
area_of_the_square = (a*a)
print(area_of_the_square)

enter a value 6

36

In [1]:
a=float(input("enter a value"))
area_of_cube = (6*a*a)
print(round (area_of_cube))

enter a value 3

54

In [3]:
b=int(input("enter a value"))
h=int(input("enter a value"))
area_of_the_triangle = (0.3*b*h)
print(round (area_of_the_triangle))

enter a value 8
enter a value 9

22

In [5]:
b=float(input("enter a value"))
h=float(input("enter a value"))
area_of_the_parellogram = (b*h)
print(round (area_of_the_parellogram))

enter a value 1.5
enter a value 1.9

3

In [9]:
l=int(input("enter a value"))
w=float(input("enter a value"))
area_of_the_rectangle = (l*w)
print(round (area_of_the_rectangle))

enter a value 8
enter a value 8.3

66

In [ ]:
#FIRST

In [32]:
a="Computer Science"
print(a[1])

o

In [ ]:
#last

In [34]:
a="Computer Science"
print(a[-1])

e

In [ ]:
#

In [36]:
a="Computer Science"
print(a[1::])

omputer Science

In [ ]:
# end to start

In [38]:
a="Computer Science"
print(a[::-1])

ecneicS retupmoC

In [ ]:
# gap of 1

In [40]:
a="Computer Science"
print(a[::2])

Cmue cec

In [ ]:
# gap of -1

In [42]:
a="Computer Science"
print(a[::-2])

eniSrtpo

In [ ]:
Combined

In [44]:
a="Computer Science"
print(a[2:-1])

mputer Scienc

In [43]:
a="Computer Science"
print(a [11])
print(a [8])
print(a [0])
print(a [-1])
print(len (a))
b=(len(a)//2)
print(b)
c=a[b]
print(c)

i

C
e
16
8

In [ ]:
Basic Python

In [1]:
print("Bhavani")

Bhavani

In [3]:
print ("Hello World")

Hello World

In [ ]:
Variable

In [5]:
a=10
b=10
print(a+b)

20

In [ ]:
Datatype

In [7]:
a=10
print(type(a))

<class 'int'>

In [9]:
a="Flower"
print(type(a))

<class 'str'>

In [13]:
a=1.5
print(type(a))

<class 'float'>

In [ ]:
# Operators

In [23]:
a=10
b=30
c=a+b
print(c)

40

In [ ]:
#Casting

In [25]:
a=int("10")
b=int ("40")
c=a+b
print(c)

50

In [ ]:
#Input

In [27]:
a=(input())
b=(input())
c=a+b
print(c)

 10
 20

1020

In [ ]:
It consider as String

In [29]:
a=int (input())
b=int (input())
c=a+b
print(c)

 3
 4

7

In [45]:
name=input()
age=input()
print("My Name is:",name)
print("My age is:",age)

 Bhavani
 24

My Name is: Bhavani
My age is: 24

In [53]:
name=input()
age=input()
city=input()
print("My Name is:",name)
print("My age is:",age)
print("I am from:",city)

 Bhavani
 24
 Tirunelveli

My Name is: Bhavani
My age is: 24
I am from: Tirunelveli

In [12]:
#3 Example *
a=3
b=2
c=4
d=a*b*c
e=a+b+c
print(round(d/e))

3

In [1]:
name=input()
score=int(input())
department=input()
print("My name is",name)
print("My Score is", score/10,"/10")
print("My department is",department)

 Bhavani
 78
 Computer

My name is Bhavani
My Score is 7.8 /10
My department is Computer

In [ ]:
#ifelse

In [9]:
Megana=input()
if(Megana=="Died"):
    print("suriya meets priya")
else:
    print("megana weds surya")

 not

megana weds surya

In [13]:
number=int(input("enter a number"))
if(number%2==0):
    print("number is even")
else:
    print("number is odd")

enter a number 4

number is even

In [15]:
num=int(input("enter a number"))
if(num%3 and 5):
    print("Number is Divied by 3 and 5")
else:
    ("Number is not Divied by 3 and 5")

enter a number 10

Number is Divied by 3 and 5

In [47]:
score=int(input("enter your score"))
if(score<35):
    print("Poor Student")
elif(score>35 and score<=70):
    print("Average Student")
elif(score>70 and score<=100):
    print("Good Student")
else:
    print("Invalid Input")

enter your score 100

Good Student

In [37]:
value1=int(input("Enter a Number"))
value2=int(input("Enter a Number"))
opt=input("add/sub/multi/divided")
if(opt=="add"):
    print(value1+value2)
elif(opt=="sub"):
    print(value1-value2)
elif(opt=="multi"):
    print(value1*value2)
elif(opt=="divided"):
    print(value1/value2)
else:
    print("Invalid Operation")

Enter a Number 7
Enter a Number 8
add/sub/multi/divided multi

56

In [53]:
score=int(input("Enter a score Percentage"))
if(score>=70):
    name=input("Candidate Name")
    age=input("Candidate Age")
    department=input("Candidate Department")
    print("Candidate is Eligible")
else:
    print("Candidate is not Eligible")

Enter a score Percentage 88
Candidate Name Saran
Candidate Age 24
Candidate Department Computer Science

Candidate is Eligible

In [57]:
#can do
salary=int(input("enter your salary"))
age=int(input("Enter your age"))
if(salary>=20000):
    loan_amount=input("Expected")
    print("Eligible for Loan")
elif(age>=25):
    loan_amount=input("Expected")
    print("Eligible for Loan")
else:
    print("Not Eligible for Loan")

enter your salary 13000
Enter your age 18

Not Eligible for Loan

In [79]:
#Nested-if
salary=int(input("enter your salary"))
age=int(input("Enter your age"))
if(salary>=20000 or age>=25):
    loan_amount=int(input("Expected"))
    if(loan_amount>50000):
        print("Max loan amount is 50000")
    else:
        print("Eligible for Loan")
else:
    print("Not Eligible for Loan")

enter your salary 34990
Enter your age 35
Expected 60000

Max loan amount is 50000

In [2]:
a=int(input("EV"))
b=int(input("EV"))
c=int(input("EV"))
d=int(input("EV"))
e=int(input("EV"))
f=(a+b+c+d+e)/5
if(f<35):
    print("Additional Class Is Required")
else:
    print("Good to Go")

EV 34
EV 22
EV 34
EV E

ValueError: invalid literal for int() with base 10: 'E'

# FOR LOOP

In [12]:
for a in range(1,11):
    print(a,"x2=",a*2)

1 x2= 2
2 x2= 4
3 x2= 6
4 x2= 8
5 x2= 10
6 x2= 12
7 x2= 14
8 x2= 16
9 x2= 18
10 x2= 20

In [14]:
for a in range(1,11):
    print(a,"x3=",a*3)

1 x3= 3
2 x3= 6
3 x3= 9
4 x3= 12
5 x3= 15
6 x3= 18
7 x3= 21
8 x3= 24
9 x3= 27
10 x3= 30

In [16]:
a=int(input("enter a number"))
b=int(input("enter a number"))
for c in range (a+1,b):
    print(c)

enter a number 9
enter a number 17

10
11
12
13
14
15
16

In [17]:
count=0
for a in range(1,11):
    if (a%2==0):
        count=count+1
print(count)

5

In [19]:
count=0
for i in range(1,11):
    if (i%2!=0):
        count=count+1
print(count)

5

In [33]:
even_count=0
odd_count=0
for i in range(1,11):
    if (i%2==0):
        even_count=even_count+1
    else:
        odd_count=odd_count+1
print(even_count)
print(odd_count)

5
5

In [37]:
count=0
for i in range(1,101):
    if(i%3==0 and i%5==0):
        count=count+1
print(count)

6

In [49]:
sum=0
for i in range(1,6):
    sum=sum+i
print(sum)

15

In [ ]:
#NESTED for LOOP

In [51]:
for i in range(1,6):
    for j in range(1,3):
        print(j," Apple")

1  Apple
2  Apple
1  Apple
2  Apple
1  Apple
2  Apple
1  Apple
2  Apple
1  Apple
2  Apple

In [6]:
for i in range(1,3):
    print("Week:", i)
    for j in range(1,4):
        print("Day:", j)

Week: 1
Day: 1
Day: 2
Day: 3
Week: 2
Day: 1
Day: 2
Day: 3

In [8]:
for i in range(1,6):
    print()
    for j in range(1,1+i):
        print(j,end="")

1
12
123
1234
12345

In [ ]:
#While Loop

In [ ]:
i=1
while (i>6):
    print(i)
    i=i+1